body{
    background-color: var(--bg-color);
    
}
    

a {

    text-decoration: none;
    color: var(--text-color2) !important;
}


.icon-custom {

    font-size: 25px;
    font-weight: bold;
    color: var(--primary-color) !important;
    font-family: Verdana;
}

    

.margin-container {

    margin: auto 5%;
}

.signup-button {


    color: #f1bd4c;
    border: #f1bd4c solid 1px;
    border-radius: 20px;
    padding: 9px 18px;
    color: var(--primary-color) !important;


}


.text-sec {

    color: var(--text-color2);
    font-size: 60px;


}

.text-sec-specific {

    padding: 0px 22px;
    border-radius: 45px;
    color: var(--bg-color);
    background-color: var(--primary-color);


}

.text-sec-p {

    color: #c5c7d4;
}


.oval {
    width: 200px;
    height: 400px;
    position: absolute;
    left: 64%;
    top: 1%;
    border-radius: 90px;
    background-image: url(../../assests/Images/guy1.jpg); 
    background-size: cover;
    background-position: center;
}



 .oval2 {
    width: 200px;
    height: 400px;
    position: absolute;
    left: 80%;
    top: 15%;
    border-radius: 90px;
    background-image: url(../../assests/Images/women\ 1.avif); 
    background-size: cover;
    background-position: center;
} 

 .oval3 {
    width: 200px;
    height: 400px;
    position: absolute;
    left: 64%;
    top: 60%;
    border-radius: 90px;
    background-image: url(../../assests/Images/women\ 2.jpg); 
    background-size: cover;
    background-position: center; 
 } 

 .oval4 {
    width: 200px;
    height: 400px;
    position: absolute;
    left: 80%;
    top: 75%;
    border-radius: 90px;
    background-image: url(../../assests/Images/guy2.avif); 
     background-size: cover;
    background-position: center;
}  


.button-Get {

    color: #f1bd4c;
    border: #f1bd4c solid 1px;
    border-radius: 25px;
    padding: 18px 36px;
    color: var(--primary-color) !important;

}


.link-learn {
    color: var(--primary-color) !important;

}


.size-icon {

   width: 20px;
   height: 20px;
}

.icon1 {

    width: 16px;
    height: 16px;
    margin-left: 4px;
    color: #f1bd4c;
}


.space-div{

    background-color: #ffffff;
    width: 100%;
    height: 70px;
}

.support-sec {

    width: 100%;
    height: 100px;
    font-size: 10px;
    color:white;
}

.support-sec--h2 {

    font-size: 15px;
    text-align: center;
}

.sec-info--h2 {
    color: white;
    font-size: 75px;
    margin-top: 10px;
}


.sec-info--p {


    color: white;
    font-size: 18px;
    margin-left: 10px;

}

.sec-info {
    background-color: #214674;
    width: 100%;
    height: 166px;
    margin-top: 250px;
    position: relative;
}


.sec-info--margin {

    margin-left: 50px;
    margin-right: 50px;
}

.sec-info--specific {
    color: var(--primary-color);

}


.empty-sec{

    width: 100%;
    height: 200px;
    background-color: var(--bg-color);
     
   
    
}

.animation-margin{

    margin-right: 900px;
}


.sec-find {
    background-color: white;
    width: 100%;
    height: 800px;


}


.sec-find--text {

    text-align: center;
    color: var(--bg-color);
    font-weight: 800;


}


.sec-find--p {
    text-align: center;
    color: #7b7b80;
    margin-top: 45px;
}

.sec-icon {


    margin-top: 60px;
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;


}

.sec-icon--h2 {
    color: #242e56;
    margin-top: 30px;
}

.sec-icon--p {

    color: #727378;
    margin-top: 15px;
}

/* .sec-search--h2 {

    color: var(--bg-color);
    margin-top: 100px;
    font-weight: 800;
    text-align: center;

}

.sec-search--p {

    color: #727378;
    margin-top: 15px;
    text-align: center;
} */



/* .sec-search input[type=text] {
    width: 50%;
    height: 50px;
    text-align: justify;
    margin-left: 25%;
    margin-top: 40px;
    border: solid 1px rgb(25, 155, 225);
    border-radius: 40px;
    font-size: 17px;
} */


.footer-section {
    background-color: var(--bg-color);
    width: 100%;
    height: 380px;
}

.footer-section__footer-contact a {
    margin: 5px 0;
    color: var(--primary-color);
}

.footer-section__footer-contact a i {
    margin-right: 5px;
}

.footer-section__footer-contact a:hover {
    color: red;
}

.footer-section__text-color{
    color: var(--primary-color);
}
.footer-section__text-color2{
    color: var(--text-color2);
}

.footer-section__footer-social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 43px;
    border-radius: 100%;
    background-color:var(--primary-color);
    border-radius: 100%;
    margin: 5px 5px;
    font-size: 18px;
}

.footer-section__footer-social a:hover {
    background-color: var(--bg-color);
}

