

.wrapper {
display: -webkit-box;
display: -ms-flexbox;
display:flex;
justify-content: center;
height: 100vh;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
border-radius: 15px;
background-color:#214674;
max-height:600px;
margin: 20px;
}


.wrapper p {
font-size: 1.1rem;
margin-top: 1rem;
}


.link{
    color:#d19d2c;
}

.wrapper p  :link{
text-decoration: none;
}

.form {
color: #fff;
padding: 1.5rem;
-ms-flex-preferred-size: 100vw;
flex-basis: 100vw;
margin-left: 40px;
margin-right: 56px;
}
/* .wrapper .signUp{
    padding-left: 200px;
} */

.form .heading {
font-size: 1.4rem;
font-weight: bold;
text-align: center;
color: #fff;
padding: 2px;
}

.account{
margin-left: 50px;
}

.or {
margin: 1.7rem 0;
text-align: center;
margin-left: 40px;
}

.form label {
display:flex;
justify-content: left;
align-items: center;
margin: 1.25rem 0 1rem 0;
margin-bottom: 10px;
}

.form input {
height: 40px;
width: 100px;
padding: 15px;
background-color: #f1f9ff;
border: 1px solid #b1d0e9;
border-radius: 8px;
}


.form button {
height: 40px;
width: 100%;
background-color: rgb(241,190,75);
color: white;
text-transform: uppercase;
letter-spacing: 2px;
border: none;
display: block;
margin: 0 auto;
font-weight: bold;
margin-top: 1.5rem;
border-radius: 8px;
margin-top: 30px;
}


@media (min-width: 363px) {
body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content:space-around;
    padding: 2rem;
    max-width: 1100px;
}

.form {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

.form input {
    width: 300px;
}


@media (max-width: 680px) {
.illustration {
    display: none;
}

.form input {
    width: 300px;
}
}


.signUp .illustration {
order: 2;
justify-self: flex-end;
margin-left: 2rem;
}


.signUp .form  {
width: 300px;
margin-right: 90px;
}

div .button{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 300px;
}
.signUp button{
width: 300px;

}
button:hover {
filter: brightness(95%);
}

button:active {
transform: scale(0.98);
}

}
.log{
    color:#f1bd4c;
}